{% extends 'app/base.html' %}

{% block content %}
    <div class="container">
        <h1>About Us</h1>
        <span><i class="border-bottom"></i></span>
        <p>
            <!-- Visualization of the platform -->
            <!-- motto -->
            <!-- goal/process -->

            <!-- Small paragraph explaining our motivation -->

            <!-- Criterion of a good about page -->
            <!-- Mission statement -->
            <!-- Outline your company story -->
            <!-- Reveal how youve evolved -->
            <!-- Aha moment -->
            <!-- Target Audience -->
            <!-- What we are offering -->
            <!-- Who have we already served -->
            <!-- Describe our values -->
            <!--  -->
        </p>
    </div>
{% endblock content %}